<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard V.1 | jeweler - Material Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/jeweler-master/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/owl.carousel.css">
    <link rel="stylesheet" href="/jeweler-master/css/owl.theme.css">
    <link rel="stylesheet" href="/jeweler-master/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/jeweler-master/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/jeweler-master/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/stylesadmin.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/jeweler-master/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body style="">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
 <div class="left-sidebar-pro">
        <nav id="sidebar" class="" style="background: #ededf4;">
            <div class="sidebar-header">
                <a href="/index"><img class="main-logo" src="" alt="" /></a>
                <strong><img src="" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1" style="background:#ededf4;">
                        <li class="active">
                            <a class="has-arrow" style="background:#ededf4;" href="index.html">
								   
								   <span class="mini-click-non" style="background-color: #ededf4;">USERS</span>
								</a>
                              <ul class="submenu-angle" aria-expanded="true">
              
                                <li><a style="background:#ededf4 ;" title="Product List" href="/admin/user-details"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro" style="background:#ededf4 ;">Users List</span></a></li>
                                
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow"  style="background:#ededf4;" href="index.html">
								  
								   <span class="mini-click-non">CATEGORY</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
             
                                <li><a style="background:#ededf4;" title="Category" href="/admin/category"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">View Category</span></a></li>
                                <li><a style="background:#ededf4;"  title="category Add" href="/admin/add-category"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Category</span></a></li> 
                               
                 
                            </ul>
                        </li>
                        <li class="active" style="background:#ededf4;">
                            <a class="has-arrow"  style="background:#ededf4;" href="/index">
								  
								   <span class="mini-click-non">PRODUCT</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true" style="background:#ededf4;">
                              
                                <li><a style="background:#ededf4;" title="Product List" href="/admin/product-list"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">View Product</span></a></li>
                                <li><a style="background:#ededf4;" title="Product Edit" href="/admin/add-product"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Product</span></a></li>
                               
                            </ul>
                        </li>
                          <li class="active">
                            <a class="has-arrow"   style="background:#ededf4;" href="/index">
								  
								   <span class="mini-click-non">BANNERS</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                              
                                
                                <li><a style="background:#ededf4;" title="Add banner" href="/admin/add-banner"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Banner</span></a></li>
                               
                            </ul>
                        </li>
                         
                         <li class="active">
                            <a class="has-arrow" style="background:#ededf4;" href="index.html">
								   {{!-- <i class="fa big-icon fa-home icon-wrap"></i> --}}
								   <span class="mini-click-non">OFFERS</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                               
                               
                                <li><a style="background:#ededf4;" title="Product List" href="/admin/add-offer"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Offers</span></a></li>
                               
                               
                            </ul>
                        </li>
                          <li class="active">
                            <a class="has-arrow"  style="background:#ededf4;" href="index.html">
								   {{!-- <i class="fa big-icon fa-home icon-wrap"></i> --}}
								   <span class="mini-click-non">ORDERS
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                               
                                <li><a  style="background:#ededf4;" title="Product List" href="/admin/order-list"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Order List</span></a></li>
                               
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" style="background:#ededf4;" href="index.html">
								   {{!-- <i class="fa big-icon fa-home icon-wrap"></i> --}}
								   <span class="mini-click-non">COUPONS</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                 <li><a style="background:#ededf4;" title="Product List" href="/admin/view-coupon"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">View Coupons</span></a></li>
                                <li><a style="background:#ededf4;" title="Product List" href="/admin/add-coupon"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Coupons</span></a></li>
                               
                            </ul>
                        </li>
                           <li class="active">
                            <a class="has-arrow" style="background:#ededf4;" href="index.html">
								   {{!-- <i class="fa big-icon fa-home icon-wrap"></i> --}}
								   <span class="mini-click-non">SALES REPORT</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                               
                               
                                <li><a style="background:#ededf4;" title="Sales Report" href="/admin/report"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Sales report</span></a></li>
                                {{!-- <li><a title="Product Edit" href="/admin/product-edit"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Edit Offers</span></a></li> --}}
                               
                            </ul>
                        </li>
                        
                        {{!-- <li><a title="Landing Page" href="#" aria-expanded="false"><i class="fa fa-bookmark icon-wrap sub-icon-mg" aria-hidden="true"></i> <span class="mini-click-non">Landing Page</span></a></li> --}}
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
       <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="/jeweler-master/img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area" style="height:10%;width:100%;background: #7678d9;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="fa fa-bars"></i>
												</button>
                                        </div>
                                    </div>
                                    {{!-- <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="#" class="nav-link">Home</a>
                                                </li>
                                                <li class="nav-item"><a href="#" class="nav-link">About</a>
                                                </li>
                                                <li class="nav-item"><a href="#" class="nav-link">Services</a>
                                                </li>
                                                <li class="nav-item"><a href="#" class="nav-link">Support</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> --}}
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item dropdown">
                                                    {{!-- <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-envelope-o adminpro-chat-pro" aria-hidden="true"></i><span class="indicator-ms"></span></a> --}}
                                                    <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                        {{!-- <div class="message-single-top">
                                                            <h1>Message</h1>
                                                        </div> --}}
                                                        {{!-- <ul class="message-menu"> --}}
                                                            <li>
                                                                <a href="#">
                                                                    {{!-- <div class="message-img">
                                                                        <img src="img/contact/1.jpg" alt="">
                                                                    </div> --}}
                                                                    {{!-- <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Advanda Cro</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div> --}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    {{!-- <div class="message-img">
                                                                        <img src="img/contact/4.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Sulaiman din</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div> --}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                {{!-- <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/3.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a> --}}
                                                            </li>
                                                            <li>
                                                                {{!-- <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/2.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a> --}}
                                                            </li>
                                                        {{!-- </ul> --}}
                                                        {{!-- <div class="message-view">
                                                            <a href="#">View All Messages</a>
                                                        </div>
                                                    </div> --}}
                                                </li>
                                                {{!-- <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="indicator-nt"></span></a> --}}
                                                    <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                        <div class="notification-single-top">
                                                            <h1></h1>
                                                        </div>
                                                        <ul class="notification-menu">
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-check adminpro-checked-pro admin-check-pro" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date"></span>
                                                                        <h2></h2>
                                                                        <p></p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        {{!-- <i class="fa fa-cloud adminpro-cloud-computing-down" aria-hidden="true"></i> --}}
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date"></span>
                                                                        <h2></h2>
                                                                        <p></p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-eraser adminpro-shield" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date"></span>
                                                                        <h2></h2>
                                                                        <p></p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-line-chart adminpro-analytics-arrow" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date"></span>
                                                                        <h2></h2>
                                                                        <p></p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="notification-view">
                                                            <a href="#"></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    {{!-- <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
															<i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
															<span class="admin-name"></span>
															<i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
														</a> --}}
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        {{!-- <li><a href="register.html"><span class="fa fa-home author-log-ic"></span>Register</a>
                                                        </li>
                                                        <li><a href="#"><span class="fa fa-user author-log-ic"></span>My Profile</a>
                                                        </li>
                                                        <li><a href="lock.html"><span class="fa fa-diamond author-log-ic"></span> Lock</a>
                                                        </li>
                                                        <li><a href="#"><span class="fa fa-cog author-log-ic"></span>Settings</a>
                                                        </li> --}}
                                                        <li><a href="/login.hbs"><span class="fa fa-lock author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                {{!-- <li class="nav-item nav-setting-open"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-tasks"></i></a> --}}

                                                    <div role="menu" class="admintab-wrap menu-setting-wrap menu-setting-wrap-bg dropdown-menu animated zoomIn">
                                                        <ul class="nav nav-tabs custon-set-tab">
                                                            <li class="active"><a data-toggle="tab" href="#Notes">News</a>
                                                            </li>
                                                            <li><a data-toggle="tab" href="#Projects">Activity</a>
                                                            </li>
                                                            <li><a data-toggle="tab" href="#Settings">Settings</a>
                                                            </li>
                                                        </ul>

                                                        <div class="tab-content custom-bdr-nt">
                                                            <div id="Notes" class="tab-pane fade in active">
                                                                <div class="notes-area-wrap">
                                                                    {{!-- <div class="note-heading-indicate">
                                                                        <h2><i class="fa fa-comments-o"></i></h2>
                                                                        <p></p>
                                                                    </div> --}}
                                                                    <div class="notes-list-area notes-menu-scrollbar">
                                                                        <ul class="notes-menu-list">
                                                                            <li>
                                                                                <a href="#">
                                                                                    {{!-- <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/4.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p></p>
                                                                                            <span></span>
                                                                                        </div>
                                                                                    </div> --}}
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        {{!-- <div class="notes-img">
                                                                                            <img src="img/contact/1.jpg" alt="" />
                                                                                        </div> --}}
                                                                                        <div class="notes-content">
                                                                                            <p></p>
                                                                                            <span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        {{!-- <div class="notes-img">
                                                                                            <img src="img/contact/2.jpg" alt="" />
                                                                                        </div> --}}
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        {{!-- <div class="notes-img">
                                                                                            <img src="img/contact/3.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div> --}}
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        {{!-- <div class="notes-img">
                                                                                            <img src="img/contact/4.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div> --}}
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        {{!-- <div class="notes-img">
                                                                                            <img src="img/contact/1.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div> --}}
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        {{!-- <div class="notes-img">
                                                                                            <img src="img/contact/2.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div> --}}
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        {{!-- <div class="notes-img">
                                                                                            <img src="img/contact/1.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div> --}}
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        {{!-- <div class="notes-img">
                                                                                            <img src="img/contact/2.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div> --}}
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        {{!-- <div class="notes-img">
                                                                                            <img src="img/contact/3.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div> --}}
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="Projects" class="tab-pane fade">
                                                                <div class="projects-settings-wrap">
                                                                    {{!-- <div class="note-heading-indicate">
                                                                        <h2><i class="fa fa-cube"></i> Recent Activity</h2>
                                                                        <p> You have 20 Recent Activity.</p>
                                                                    </div> --}}
                                                                    <div class="project-st-list-area project-st-menu-scrollbar">
                                                                        <ul class="projects-st-menu-list">
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        {{!-- <div class="projects-st-heading">
                                                                                            <h2>New User Registered</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">1 hours ago</span>
                                                                                        </div> --}}
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order Received</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">2 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order Received</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">3 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order Received</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">4 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New User Registered</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">5 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">6 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New User</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">7 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">9 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="Settings" class="tab-pane fade">
                                                                <div class="setting-panel-area">
                                                                    <div class="note-heading-indicate">
                                                                        <h2><i class="fa fa-gears"></i> Settings Panel</h2>
                                                                        <p> You have 20 Settings. 5 not completed.</p>
                                                                    </div>
                                                                    <ul class="setting-panel-list">
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Show notifications</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                                                                            <label class="onoffswitch-label" for="example">
																									<span class="onoffswitch-inner"></span>
																									<span class="onoffswitch-switch"></span>
																								</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Disable Chat</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
                                                                                            <label class="onoffswitch-label" for="example3">
																									<span class="onoffswitch-inner"></span>
																									<span class="onoffswitch-switch"></span>
																								</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Enable history</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
                                                                                            <label class="onoffswitch-label" for="example4">
																									<span class="onoffswitch-inner"></span>
																									<span class="onoffswitch-switch"></span>
																								</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Show charts</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
                                                                                            <label class="onoffswitch-label" for="example7">
																									<span class="onoffswitch-inner"></span>
																									<span class="onoffswitch-switch"></span>
																								</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Update everyday</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example2">
                                                                                            <label class="onoffswitch-label" for="example2">
																									<span class="onoffswitch-inner"></span>
																									<span class="onoffswitch-switch"></span>
																								</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Global search</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example6">
                                                                                            <label class="onoffswitch-label" for="example6">
																									<span class="onoffswitch-inner"></span>
																									<span class="onoffswitch-switch"></span>
																								</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Offline users</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example5">
                                                                                            <label class="onoffswitch-label" for="example5">
																									<span class="onoffswitch-inner"></span>
																									<span class="onoffswitch-switch"></span>
																								</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a  href="/admin/user-details">Users<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                         
                                        </li>
                                        <li><a  href="/admin/category">Category<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                         
                                        </li>
                                        <li><a  href="/admin/product-list">Products<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                          
                                        </li>
                                        <li><a  href="/admin/add-banner">Banner<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                          
                                        </li>
                                        <li><a  href="/admin/add-offer">Offer<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        
                                        </li>
                                        <li><a  href="/admin/order-list">Order<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        
                                        </li>
                                        <li><a  href="/admin/view-coupon">Coupon <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                           
                                        </li>
                                        <li><a  href="/admin/report">Report<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                           
                                        </li>
                                      
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
           
        </div>
        <!-- Single pro tab start-->
        <div class="single-product-tab-area mg-tb-15">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner" style="min-height: 154%;margin-left: -1%;">
                                <ul id="myTab3" class="tab-review-design">
                                    <li class="active"><i class="fa fa-pencil" aria-hidden="true"></i>Add Product Offer</li>
                                    {{!-- <li><a href="#reviews"><i class="fa fa-file-image-o" aria-hidden="true"></i> Pictures</a></li>
                                    <li><a href="#INFORMATION"><i class="fa fa-commenting" aria-hidden="true"></i> Review</a></li> --}}
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <form action="/admin/add-offerproduct/{{product._id}}" method="post" >
                                                  
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                                        <input type="text" name="Name" id="Name" required="" value="{{product.Name}}"  class="form-control"  onkeyup="validatename()">
                                                     <span id="nameerr" class="text-danger"></span>
                                                    </div>

                                                    
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                                        <input type="text" name="price" id="price" required="" value="{{product.price}}" class="form-control" onkeyup="validprice()">
                                                         <span id="priceerr" class="text-danger"></span>
                                                    </div>
                                                  
                                                    
                                                     <select name="OName" class="form-control pro-edt-select form-control-primary"  id="OName" >
															 {{#each offer}} 
                                                            <option value="{{this._id}}">{{this.OName}}</option>
                                                            
														
                                                             {{/each}}
														</select>
                                                         
                                                         
                                                  

                                                        
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 3%;">
                                                <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                    {{!-- <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" name="submit" value="submit">Save
														</button> --}}
                                                        {{!-- <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-tag" aria-hidden="true"></i></span>
                                                        <input type="file" class="form-control" placeholder="Choose an image ">
                                                    </div> --}}
                                                       <button  type="submit" name="submit" class="btn btn-danger btn-md mt-3" style="background: #7678d9;" value="" onclick="return validation()">Add Offer</button>
                                                     
                                                       
                                                    {{!-- <button type="button" class="btn btn-warning waves-effect waves-light">Discard
														</button> --}}
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>

                                    
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="footer-copyright-area" style="margin-top : 210px;background: #7678d9;margin-left: -1%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright &copy; 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="/jeweler-master/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/jeweler-master/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/jeweler-master/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/jeweler-master/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/jeweler-master/jeweler-master/jeweler-master/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/jeweler-master/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/jeweler-master/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/jeweler-master/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/jeweler-master/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/jeweler-master/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/jeweler-master/js/metisMenu/metisMenu.min.js"></script>
    <script src="/jeweler-master/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/jeweler-master/js/morrisjs/raphael-min.js"></script>
    <script src="/jeweler-master/js/morrisjs/morris.js"></script>
    <script src="/jeweler-master/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/jeweler-master/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/jeweler-master/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/jeweler-master/js/calendar/moment.min.js"></script>
    <script src="/jeweler-master/js/calendar/fullcalendar.min.js"></script>
    <script src="/jeweler-master/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/jeweler-master/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/jeweler-master/js/main.js"></script>
</body>

</html>
<script>
  
    var errorName = document.getElementById('nameerr')
     var errorPrice = document.getElementById('priceerr')
      var errorQuantity = document.getElementById('qtyerr')
       var errorDes = document.getElementById('deserr')
    
    function validatename() {
        const name = document.getElementById('Name').value
        if (name == "") {
            errorName.innerHTML = "Please add a product name"
            return false
            }
             if (!name.match(/^[a-zA-Z_ ]*$/)) {
            errorName.innerHTML = 'Alphabets are only allowed'
            return false
        }
        errorName.innerHTML = null
        return true
    }
     
 
     function validprice() {
        const name = document.getElementById('price').value
        if (name == "") {
            errorPrice.innerHTML = "Enter product price"
            return false
            }
        if (!name.match(/^\d*(.\d{2})?$/)) {
            errorPrice.innerHTML = 'Enter correct price'
            return false
        }
       errorPrice.innerHTML = null
        return true
    }

       function validquantity() {
        const name = document.getElementById('Quantity').value
        if (name == "") {
            errorQuantity.innerHTML = "Enter product Quantity"
            return false
            }
        if (!name.match(/^[0-9]+$/)) {
            errorQuantity.innerHTML = 'Enter correct value'
            return false
        }
        errorQuantity.innerHTML = null
        return true
    }
   
     function validatedescription() {
        const name = document.getElementById('Description').value
        if (name == "") {
            errorDes.innerHTML = "Please add a product description"
            return false
            }
            
       
        errorDes.innerHTML = null
        return true
    }



    function validation() {
        if ( !validatename() || !validprice() || !validquantity()|| !validatedescription()) {
            return false
        }
        return true
    }
</script>