<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard V.1 | jeweler - Material Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/jeweler-master/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/owl.carousel.css">
    <link rel="stylesheet" href="/jeweler-master/css/owl.theme.css">
    <link rel="stylesheet" href="/jeweler-master/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/jeweler-master/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/jeweler-master/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/stylesadmin.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/jeweler-master/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/jeweler-master/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
 <div class="left-sidebar-pro">
        <nav id="sidebar" class="" style="background: #ededf4;">
            <div class="sidebar-header">
                <a href="/index"><img class="main-logo" src="" alt="" /></a>
                <strong><img src="" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1" style="background:#ededf4;">
                        <li class="active">
                            <a class="has-arrow" style="background:#ededf4;" href="index.html">
								   
								   <span class="mini-click-non" style="background-color: #ededf4;">USERS</span>
								</a>
                              <ul class="submenu-angle" aria-expanded="true">
              
                                <li><a style="background:#ededf4 ;" title="Product List" href="/admin/user-details"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro" style="background:#ededf4 ;">Users List</span></a></li>
                                
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow"  style="background:#ededf4;" href="index.html">
								  
								   <span class="mini-click-non">CATEGORY</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
             
                                <li><a style="background:#ededf4;" title="Category" href="/admin/category"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">View Category</span></a></li>
                                <li><a style="background:#ededf4;"  title="category Add" href="/admin/add-category"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Category</span></a></li> 
                               
                 
                            </ul>
                        </li>
                        <li class="active" style="background:#ededf4;">
                            <a class="has-arrow"  style="background:#ededf4;" href="/index">
								  
								   <span class="mini-click-non">PRODUCT</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true" style="background:#ededf4;">
                              
                                <li><a style="background:#ededf4;" title="Product List" href="/admin/product-list"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">View Product</span></a></li>
                                <li><a style="background:#ededf4;" title="Product Edit" href="/admin/add-product"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Product</span></a></li>
                               
                            </ul>
                        </li>
                          <li class="active">
                            <a class="has-arrow"   style="background:#ededf4;" href="/index">
								  
								   <span class="mini-click-non">BANNERS</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                              
                                
                                <li><a style="background:#ededf4;" title="Add banner" href="/admin/add-banner"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Banner</span></a></li>
                               
                            </ul>
                        </li>
                         
                         <li class="active">
                            <a class="has-arrow" style="background:#ededf4;" href="index.html">
								   {{!-- <i class="fa big-icon fa-home icon-wrap"></i> --}}
								   <span class="mini-click-non">OFFERS</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                               
                               
                                <li><a style="background:#ededf4;" title="Product List" href="/admin/add-offer"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Offers</span></a></li>
                               
                               
                            </ul>
                        </li>
                          <li class="active">
                            <a class="has-arrow"  style="background:#ededf4;" href="index.html">
								   {{!-- <i class="fa big-icon fa-home icon-wrap"></i> --}}
								   <span class="mini-click-non">ORDERS
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                               
                                <li><a  style="background:#ededf4;" title="Product List" href="/admin/order-list"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Order List</span></a></li>
                               
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" style="background:#ededf4;" href="index.html">
								   {{!-- <i class="fa big-icon fa-home icon-wrap"></i> --}}
								   <span class="mini-click-non">COUPONS</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                 <li><a style="background:#ededf4;" title="Product List" href="/admin/view-coupon"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">View Coupons</span></a></li>
                                <li><a style="background:#ededf4;" title="Product List" href="/admin/add-coupon"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Add Coupons</span></a></li>
                               
                            </ul>
                        </li>
                           <li class="active">
                            <a class="has-arrow" style="background:#ededf4;" href="index.html">
								   {{!-- <i class="fa big-icon fa-home icon-wrap"></i> --}}
								   <span class="mini-click-non">SALES REPORT</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                               
                               
                                <li><a style="background:#ededf4;" title="Sales Report" href="/admin/report"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"  style="background:#ededf4 ;">Sales report</span></a></li>
                                {{!-- <li><a title="Product Edit" href="/admin/product-edit"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Edit Offers</span></a></li> --}}
                               
                            </ul>
                        </li>
                        
                        {{!-- <li><a title="Landing Page" href="#" aria-expanded="false"><i class="fa fa-bookmark icon-wrap sub-icon-mg" aria-hidden="true"></i> <span class="mini-click-non">Landing Page</span></a></li> --}}
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper"  style="
    max-width: 100%;
    overflow-x: hidden;">
        <div class="container-fluid">
            
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
              <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a  href="/admin/user-details">Users<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                         
                                        </li>
                                        <li><a  href="/admin/category">Category<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                         
                                        </li>
                                        <li><a  href="/admin/product-list">Products<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                          
                                        </li>
                                        <li><a  href="/admin/add-banner">Banner<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                          
                                        </li>
                                        <li><a  href="/admin/add-offer">Offer<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        
                                        </li>
                                        <li><a  href="/admin/order-list">Order<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        
                                        </li>
                                        <li><a  href="/admin/view-coupon">Coupon <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                           
                                        </li>
                                        <li><a  href="/admin/report">Report<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                           
                                        </li>
                                      
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #7678d9">
                            <div class="breadcome-list">
                                 <a href="/admin/logoutAdmin" style="margin-left: 95%;" class="btn btn-primary" >Logout</a>
                                   
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-admin container-fluid">
            <div class="row admin text-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="admin-content analysis-progrebar-ctn res-mg-t-15">
                                <h4 class="text-left text-uppercase"><b>Orders</b></h4>
                                <div class="row vertical-center-box vertical-center-box-tablet">
                                    <div class="col-xs-3 mar-bot-15 text-left">
                                           {{#each yearly}} 
                                        <label class="label bg-green">30% {{this.count}}<i class="fa fa-level-up" aria-hidden="true"></i></label>
                                     {{/each}}
                                    </div>
                                  
                                    <div class="col-xs-9 cus-gh-hd-pro">
                                         {{#each yearly}} 
                                        <h2 class="text-right no-margin">{{this.count}}</h2>
                                         {{/each}}
                                    </div>
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width: 78%;" class="progress-bar bg-green"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-bottom:1px;">
                            <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
                                 <h3 class="box-title"><small class="pull-right m-t-10 text-success"><i class="fa fa-sort-asc"></i> 18% last month</small> Site Traffic</h3>
                            <div class="stats-row">
                                <div class="stat-item">
                                    <h6>Overall Growth</h6>
                                    <b>80.40%</b></div>
                                <div class="stat-item">
                                    <h6>Montly</h6>
                                    <b>15.40%</b></div>
                                <div class="stat-item">
                                    <h6>Day</h6>
                                    <b>5.50%</b></div>
                            </div>
                                
                                <div class="progress progress-mini">
                                    <div style="width: 38%;" class="progress-bar progress-bar-danger bg-red"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
                                <h4 class="text-left text-uppercase"><b>Revenue</b></h4>
                                <div class="row vertical-center-box vertical-center-box-tablet">
                                    <div class="text-left col-xs-3 mar-bot-15">
                                          {{#each yearly}} 
                                        <label class="label bg-blue">{{this.total}}<i class="fa fa-level-up" aria-hidden="true"></i></label>
                                        {{/each}}
                                    </div>
                                     {{#each yearly}} 
                                    <div class="col-xs-9 cus-gh-hd-pro">
                                       
                                        <h2 class="text-right no-margin"> {{total}}</h2>
                                       
                                    </div>
                                    {{/each}}
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width: 60%;" class="progress-bar bg-blue"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
                                <h4 class="text-left text-uppercase"><b>Daily Sales Count</b></h4>
                                <div class="row vertical-center-box vertical-center-box-tablet">
                                    <div class="text-left col-xs-3 mar-bot-15">
                                         {{#each yearly}} 
                                        <label class="label bg-purple">80% {{this.count}} <i class="fa fa-level-up" aria-hidden="true"></i></label>
                                          {{/each}}
                                    </div>
                                    <div class="col-xs-9 cus-gh-hd-pro">
                                        {{#each yearly}} 
                                        <h2 class="text-right no-margin"> {{this.count}}</h2>
                                         {{/each}}
                                    </div>
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width: 60%;" class="progress-bar bg-purple"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-sales-area mg-tb-30">
            <div class="container-fluid">
                <div class="row">
                   
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="traffic-analysis-area">
            <div class="container-fluid">
                <div class="row">
                   
                </div>
            </div>
        </div>
        <div class="product-new-list-area">
            <div class="container-fluid">
                <div class="row">
                
                </div>
            </div>
        </div>
        <div class="product-sales-area mg-tb-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                       
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        
      }
      .chartMenu {
        width: 100vw;
        height: 40px;
        background: #1A1A1A;
        color: rgba(255, 26, 104, 1);
      }
      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }
      .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        background: white
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:-2
      }
      .chartBox {
        width: 85%;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(255, 26, 104, 1);
        background: white;
      }
    </style>
  </head>
  <body>
    {{!-- <div class="chartMenu">
      <p>WWW.CHARTJS3.COM (Chart JS 3.8.0)</p>
    </div> --}}
    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    // setup 
    const data = {
      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
      datasets: [{
        label: 'Weekly Sales',
        data: [18, 12, 6, 9, 12, 3, 9],
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)'
        ],
        borderWidth: 1
      }]
    };

    // config 
    const config = {
      type: 'bar',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    </script>


                    </div>
                    
                     </div> 
                </div>
            </div>
        </div>
      
        <div class="calender-area mg-tb-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {{!-- <div class="calender-inner">
                            <div id='calendar'></div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
        
         <div class="footer-copyright-area" style="margin-top :-10px;background: #7678d9;margin-left: -1%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright &copy; 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {{!-- <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright &copy; 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
    </div>

   <!-- jquery
		============================================ -->
    <script src="/jeweler-master/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/jeweler-master/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/jeweler-master/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/jeweler-master/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/jeweler-master/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/jeweler-master/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/jeweler-master/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/jeweler-master/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/jeweler-master/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/jeweler-master/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/jeweler-master/js/metisMenu/metisMenu.min.js"></script>
    <script src="/jeweler-master/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/jeweler-master/js/morrisjs/raphael-min.js"></script>
    <script src="/jeweler-master/js/morrisjs/morris.js"></script>
    <script src="/jeweler-master/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/jeweler-master/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/jeweler-master/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/jeweler-master/js/calendar/moment.min.js"></script>
    <script src="/jeweler-master/js/calendar/fullcalendar.min.js"></script>
    <script src="/jeweler-master/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/jeweler-master/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/jeweler-master/js/main.js"></script> 
</body>

</html>